<div class="container is-fluid">


<% if false %>
<h3>Search</h3>
<%= form_tag("/movies", method: "get") do %>
  <%= label_tag(:title, "Title:") %>
  <%= text_field_tag(:title) %><br>
  <%= label_tag(:director, "Director:") %>
  <%= text_field_tag(:director) %><br>
  <%= label_tag(:duration, "Duration:") %>
  <%= select_tag "duration", options_for_select([ "", "Under 90 minutes", "Between 90 and 120 minutes", "Over 120 minutes" ], params[:duration]) %><br>
  <%= submit_tag("Search") %><br>
  <%= submit_tag "Clear form", :class => 'inputsubmit', :type => 'reset'%>
<% end %>
<% end %>

<!-- <a class="button is-primary">Submit a movie!</a> -->
<h2><%#= link_to "Submit a movie!", new_movie_path %></h2>

<hr>

<% @movies.each do |movie| %>
  <div class="columns">
    <div class="column">
        <% if movie.poster_image_url.present? %>
          <%= link_to image_tag(movie.poster_image_url), movie_path(movie) %>
        <% else %>
          <%= link_to image_tag(movie.poster.thumb.url), movie_path(movie) %>
        <% end %>
    </div>
    <div class="column">
        <h2 class="title is-2"><%= link_to movie.title, movie_path(movie) %></h2>
        <h2 class="title is-2"><%= movie.review_average %></h2>
        <h6 class="title is-6">Released: <%= formatted_date(movie.release_date) %>
          <br>Directed by: <%= movie.director %>
          <br>Runtime: <%= movie.runtime_in_minutes %> minutes
        </h6>
        <h4 class="title is-4"><%= movie.description %></h4>
    </div>
  </div>

<hr>

<% end %>


</div>

<!-- <div class="columns">
  <div class="column">
    <p class="notification is-info">Dinosaurs are extinct today because they lacked opposable thumbs and the brainpower to build a space program.<br>Many say exploration is part of our destiny, but it’s actually our duty to future generations and their quest to ensure the survival of the human species.<br>As I stand out here in the wonders of the unknown at Hadley, I sort of realize there’s a fundamental truth to our nature, Man must explore . . . and this is exploration at its greatest.</p>
  </div>
  <div class="column">
    <p class="notification is-danger">You know, being a test pilot isn't always the healthiest business in the world.<br>As I stand out here in the wonders of the unknown at Hadley, I sort of realize there’s a fundamental truth to our nature, Man must explore... and this is exploration at its greatest.<br>Here men from the planet Earth first set foot upon the Moon. July 1969 AD. We came in peace for all mankind.</p>
  </div>
  <div class="column">
    <p class="notification is-warning">We have an infinite amount to learn both from nature and from each other.<br>There can be no thought of finishing for ‘aiming for the stars.’ Both figuratively and literally, it is a task to occupy the generations. And no matter how much progress one makes, there is always the thrill of just beginning.<br>The dreams of yesterday are the hopes of today and the reality of tomorrow.</p>
  </div>
  <div class="column">
    <p class="notification is-success">As we got further and further away, it [the Earth] diminished in size. Finally it shrank to the size of a marble, the most beautiful you can imagine. That beautiful, warm, living object looked so fragile, so delicate, that if you touched it with a finger it would crumble and fall apart. Seeing this has to change a man.<br>The dreams of yesterday are the hopes of today and the reality of tomorrow.<br>I believe every human has a finite number of heartbeats. I don't intend to waste any of mine.</p>
  </div>
</div> -->
