<div class="container is-fluid">

  <div><%= link_to "Back to all movies", movies_path %></div>

  <div class="columns">

    <div class="column">      
      <% if @movie.poster_image_url.present? %>
        <%= link_to image_tag(@movie.poster_image_url), movie_path(@movie) %>
      <% else %>
        <%= link_to image_tag(@movie.poster.url), movie_path(@movie) %>
      <% end %>
    </div>

    <div class="column">
      <div>
        <h2 class="title is-2"><%= @movie.title %></h2>
        <h6 class="title is-6"> (<%= link_to "edit", edit_movie_path(@movie) %>, <%= link_to "delete", movie_path(@movie), method: :delete, confirm: "You sure?" %>)</h6>
        <h2 class="title is-2"><%= @movie.review_average %></h2>
        <h6 class="title is-6">Released: <%= formatted_date(@movie.release_date) %>
          <br>Directed by: <%= @movie.director %>
          <br>Runtime: <%= @movie.runtime_in_minutes %> minutes
        </h6>
        <h4 class="title is-4"><%= @movie.description %></h4>
      </div>
    </div>
  </div>

  <div>
    <h3 class="title is-3">Reviews of <%= @movie.title %></h3>
    <% if current_user %>
      <% @movie.reviews.each do |review| %>
        <h3 class="title is-3"><%= review.rating_out_of_ten %>/10</h3>
        <h5 class="title is-5"><%= review.text %></h5>
        <h5 class="title is-5">Reviewer: <%= review.user.full_name %></h5>
      <% end %>
    </div>
    <div>
      <p><%= link_to "Write a review!", new_movie_review_path(@movie) %></p>
      <% else %>
      <p>Please <%= link_to "log in", new_session_path %> to see reviews and add your own.</p> 
      <% end %>
    </div>
  </div>

</div>
